input[type="submit"]{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #97d3f7;
  *background-color: #298ee9;
  background-image: -moz-linear-gradient(top, #97d3f7, #298ee9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#97d3f7), to(#298ee9));
  background-image: -webkit-linear-gradient(top, #97d3f7, #298ee9);
  background-image: -o-linear-gradient(top, #97d3f7, #298ee9);
  background-image: linear-gradient(to bottom, #97d3f7, #298ee9);
  background-repeat: repeat-x;
  border-color: #d57d88 #d57d88 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d57d88', endColorstr='#d57d88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

input[type="submit"]:hover{
  background-color: #CBE9FC;
  color: #282828;
}

